@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Define your custom colors
$primary-color: #963484;
$hover-color: #60afff;
$box-color: #212121;
$outer-box: #121212;
// Global styles
body {
  background-color: black;
}

.banner {
  background-color: $outer-box;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 100vh;
  max-width: 400px;
  height: 25%;
  border-radius: 10px;
  border: 4px;
  padding: 10px;
  margin-top: 4%;
  //header content
  header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .siteLogo {
      margin-top: 4px;
      margin-left: 4px;
      align-self: center;
      color: $primary-color;
      font-size: 2em;
      font-family: 'Oswald';
      font-weight: bold;
    }

    .dropdownContainer {
      display: inline-flex;
      margin-right: 20px;
      flex-grow: 1;
      justify-content: flex-start;

      .dropdown {
        display: none; // Initially hide the dropdown on mobile
        overflow: hidden;
        max-width: 150px;
        min-width: 40px;
        flex-grow: 1;
        justify-content: flex-start;
        width: 100%;
        
        .dropbutton {
          width: 100%;
          flex-grow: 1;
          flex-basis: 0;
          margin-right: auto;
          font-size: 0.6em;
          border: none;
          outline: none;
          color: white;
          padding: 8px 0px;
          font-family: inherit;
          align-items: center;
          background-color: $primary-color;
          max-width: 150px;
          min-width: 40px;
          justify-content: flex-start;

          &:hover {
            background-color: $hover-color;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          width: 150px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          margin-right: auto;


          a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;

            &:hover {
              background-color: $hover-color;
            }
          }
        }

        &:hover .dropdown-content {
          display: block;
        }
      }
    }

    .hub {
      padding: 0px 2px;
      background-color: $box-color;
      border: 0.5px solid rgba(0 0 0/0.08);
      border-radius: 10px;
      position: relative;
      margin-left: auto;

      .profileContainer {
        position: relative;
        display: inline-block;

      .profile {
        justify-content: end;
        height: 35px;
        width: 35px;
        color: $primary-color;
        padding: 2px;
        margin-right: auto;
        display: inline-block;
        cursor: pointer;
        margin: auto;
        display: relative;

        &:hover {
          color: $hover-color;
        }
      }

      .profileContent {
        position: absolute;
        top: 100%;
        left: -170%;
        background-color: $box-color;
        box-shadow: 0 3px 10px rgba(0 0 0/0.4);
        border-radius: 5px;
        height: 250px;
        width: 150px;
        text-align: center;
       
       

        .profileContent.closed {
          display: none;
        }

        a {
          text-decoration: none;
          display: block;
          padding: 8px;
          cursor: pointer;
          color: white;
          font-family: 'Oswald';

          &:hover {
            background-color: #383838;
            border-radius: 5px;
            
          }
        }
      }
    }

      .menu,
      .close-icon {
        margin-left: 2px;
        display: inline-block;
        margin-left: auto;
        @extend .profile;
        height: 45px;
        width: 45px;
        cursor: pointer;
        position: relative;
      }

      .menu {
        margin-left: 2px;
        display: inline-block;
        height: 47px;
        width: 47px;
        z-index: 2;
        color: $primary-color;
        margin-bottom: 2px;
      }

      .close-icon {
        cursor: pointer;
        z-index: 3;
        color: white;
        
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      .sidebar {
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        position: fixed;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.753);

        a {
          font-size: 20px;
          color: white;
          display: block;
        }
      }

      .sidebar.open {
        display: flex !important;
      }
    }
  }

  //Navbar Content
  .navbar {
    overflow: hidden;
    background-color: #212121;
    border: 0.5px solid rgba(0 0 0/0.08);
    margin-top: 1em;
    border-radius: 20px;
    transition: 0.3 ease all;
    padding: 0 0.5rem;
    width: 100%;
    height: 40px;
    box-shadow: 0 3px 10px rgba(0 0 0/0.1);

    .search {
      align-items: center;
      width: 100%;
      margin: auto;
      overflow: hidden;
      max-width: 1920px;
      display: inline-flex;
      text-align: center;
      text-decoration: none;
      height: 35px;

      #searchBar {
        @extend .search;
      }

      #queryDropdown,
      #SearchInput,
      #submitButton {
        margin-top: 2px;
        font-size: 0.6em;
        font-family: 'Oswald';
        background-color: #212121;
        margin-left: 4px;
        margin-right: 4px;
        &:not(:last-child) {
          border-right: 0.5px solid rgba(0 0 0/0.25);
        }
      }

      #queryDropdown {
        min-width: 30px;
        min-height: 25px;
        max-width: 30%;
        float: left;
        color: white;
        
        &:focus {
          outline: none;
        }
      }

      #SearchInput {
        flex-grow: 1;
        min-width: 50%;
        max-width: 90%; // Adjust the max-width as needed
        min-height: 25px;
        color: white;
        padding: 0 2px;

        &:focus {
          outline-color: white;
          
        }
      }

      #submitButton {
        text-align: center;
        align-items: center;
        bottom: 25px;
        color: $primary-color;
        margin-left: 4px;
        

        svg {
          height: 20px;
          width: 20px;
          float: right;
          margin-left: auto;
          justify-content: end;

          &:hover {
            color: $hover-color;
          }
        }
      }
    }

    // Media query for larger screens (min-width: 744px)
  }
}


@media screen and (min-width: 744px) {
  .banner {
    width: 50%;
    margin-left: 25%;
    max-width: none;
    position: relative;
    

    header .hub {

      .profileContainer {
        margin: 0 5px;
      }
      .menu {
        display: none;
      }
    }

    header .dropdownContainer .dropdown {
      display: block; // Show the dropdown on larger screens

      
    }
    .siteLogo {
      position: fixed;
      top: 0;
      right: 0;
      order: 2;
      padding: 4px;
      color: $primary-color;
      font-size: 2em;
      margin-right: 2%;
    }

    .search {
      flex-direction: row; // Restore flex direction for larger screens

      #queryDropdown {
        min-width: 13%;
        width: 8%;
      }
    }
  }
 
}

.sectionName {
  margin: 6% 4% 2% 4%;
  color: white;
  font-family: 'Oswald';
  letter-spacing: 1px;

}

.row {
  width: 100%;
  height: 25%;
  margin: 0 5% 4% 4%;
  display: flex;

  
  .song-item {
    color: white;
    height: 110px;
    width: 110px;
    display: inline-block;
    margin: 0 4px;
    

    .coverArt {

    }
    
    .textArea {
      line-height: 1;
      margin: 2px 0;

    .artist,
    .album,
    .seperator {
      color: gray;
      margin: 1px;
      line-height: 1;
      font-family: 'Oswald';
    }

    .title {
      font-size: 10px;
      color: white;
      
    }

    .artist {
      font-size: 8px;
      display: inline;
    }

    .album {
      font-size: 8px;
      display: inline;
    }

    .seperator {
      display: inline;
    }
  }
}
}
